body{
	background-color:#888888;
}

#Frame{
	border: 10px solid #cd0033;
	border-radius: 30px;
	background-color: #990033;
	position: relative;
	left: 25%;
	top: 50px;
	width: 50%;
	height: 75%;
	font-family: Tahoma, Geneva, sans-serif;
}

#Biography{
	position: relative;
	margin-left:20px;
	margin-right:20px;
	top: 10%;
	text-align: center;
}
#Picture{
	position: relative;
	top: 15%;
	left: 45%;
	right: 50%;
}
#Contact{
	position: relative;
	top:20%;
	text-align: center;
}